* {
    margin: 0;
    padding: 0
}

html, body, main {
    height: 100%;
    width: 100%;
    background-color: #F1F1F1;
}

.banner {
    background-color: black;
    background-image: url('../img/frankZappa.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    min-height: 100px;
    height: 15%;
}

.button {
    border: 1px solid #CCC;
    border-radius: 4px;
    color: #454545;
    padding: 3px;
}

.game {
    border: 1px solid #CCC;
    min-height: 240px;
    max-width: 1440px!important;
    margin-left: auto;
}

.gameMenu {
    border: 1px solid #CCC;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 60%;
}

.gameScreen {
    height: 100%;
    width: 100%;
}

.gameWindow {
    border: 1px solid #CCC;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5px;
    min-height: 200px;
    width: 90%;
}

.menuButton, menuText {
    flex: 1 1 auto;
    cursor: pointer;
}

.menuButton > h4, .menuText > h4 {
    padding: 1px;
}

.gameMenu, .menu {
    display: flex;
    flex-wrap: wrap;
}

.nudge-down {
    margin-top: 10px!important;
}

.nudge-down-2x {
    margin-top: 20px!important;
}

.nudge-up {
    margin-bottom: 10px!important;
}

.nudge-up-2x {
    margin-bottom: 20px!important;
}

.menuButton, .menuText, .nameButton {
    border: 1px solid white;
    height: 43px;
    margin: 10px 5px 5px 5px;
}

.nameButton {
    display: inline-block;
    min-width: 160px;
}

.shadow {
    box-shadow: 0 5px 6px -5px black;
}

.story {
    background-color: white;
    display: inline-block;
    height: 125px;
    margin: 5px;
    width: 425px;
    padding: 5px;
    vertical-align: middle;
}

.storyPane {
    padding: 10px;
}

.tall {
    height: 100%!important;
}

.white-text {
    color: white!important;
}

.with-cursor-arrow {
    cursor: default!important;
}

.with-cursor-pointer {
    cursor: pointer!important;
}